@* Take and put this in the renderedbody *@

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<div class="bodyContent">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>This is where I take out my frustrations, my fears, my sadness, my insecurity.</p>
            <p>This is where I find my faith, my hope, my dreams, my happiness.</p>
            <p>This is where I belong.</p>
            <p class="float">-Author Unknown</p>
        </div>
    </div>
    </div>






@*section sidebar{
    <div class="onTheSide">
        <ul>
            <li><a href="~/default.cshtml">Home</a></li>

            <li>
                <a href="~/log.cshtml">Log Miles</a>
            </li>
            <li>
                <a href="~/view.cshtml">View Miles</a>
            </li>
        </ul>
    </div>
}*@
